<!DOCTYPE html>
<html lang="en">
    <%- include('block/head') %>
    <body>
        <%- include('block/face') %>
        <%- include('block/drugs') %>
        <%- include('block/facts') %>
        <%- include('block/help') %>
        <%- include('block/chance') %>
        <%- include('block/script') %>
    </body>
</html>
